.secondary-button {
  border: 1px solid #111;
  background-color: white;
  display: flex;
  width: 155px;
  height: 64px;
  align-items: center;
  justify-content: space-evenly;
}
.primary-button {
  @extend .secondary-button;
  background-color: $rojo-claro;
  color: white;
}
