.hero__logo {
  display: flex;
  height: 140px;
  justify-content: center;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.hero--mobile {
  background-blend-mode: soft-light;
  background-color: #0000009f;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
