.main {
  transition: all 1s;
  padding: 14px;
  border-radius: 4px;
  box-shadow: -10px 10px 20px #0a0a0a5d;
  position: relative;
  z-index: 1;
}
.main.active {
  transition: all 1s;
  transform: translateX(58%);
}
.menu.active {
  display: none;
}
