.main {
  transition: all 1s;
  padding: 8px;
  border-radius: 4px;
  box-shadow: -40px 20px 60px #00000044;
  position: relative;
  z-index: 3;
}
.main.active {
  transition: all 1s;
  transform: translateX(58%);
}
.menu.active {
  display: none;
}
