.nav {
  header {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .menu__logo h1 {
      margin: 0;
    }
    .menu.close {
      display: none;
    }
    .menu.close.active {
      display: flex;
    }
    .menu.active {
      display: none;
    }
    .menu {
      cursor: pointer;
      background-color: $rojo2;
      width: 40px;
      height: 40px;
      position: relative;
      z-index: 5;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: rgb(126, 20, 20);
      color: white;
    }
  }
  &__menu {
    background-color: $rojo;
    width: 60%;
    height: 100vh;
    position: absolute;
    left: -60%;
    top: 0px;
    transition: all 0.5s;
    ul {
      margin: 0;
      display: flex;
      flex-direction: column;
      padding: 20px 0;
      li {
        cursor: pointer;
        text-align: center;
        list-style: none;
        height: 100%;
        width: 100%;
        padding: 18px 0;
        a {
          height: 100%;
          color: white;
        }
      }
      li:hover {
        background-color: $rojo2;
      }
    }
  }
}
.nav__menu.active {
  transition: all 0.8s;
  transform: translate(100%, 0);
}
