.nav {
  header {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    .menu__logo h1 {
      margin: 0;
    }
    .close {
      display: none;
    }
    .close.active {
      display: block;
    }
    .menu {
      cursor: pointer;
    }
  }
  &__menu {
    background-color: $rojo;
    width: 60%;
    height: 100vh;
    position: absolute;
    left: -60%;
    top: 0px;
    transition: all 1s;
    ul {
      margin: 0;
      display: flex;
      flex-direction: column;
      padding: 20px 0;
      li {
        cursor: pointer;
        text-align: center;
        list-style: none;
        height: 100%;
        width: 100%;
        padding: 18px 0;
        a {
          height: 100%;
          color: white;
        }
      }
      li:hover {
        background-color: $rojo2;
      }
    }
  }
}
.nav__menu.active {
  transition: all 1s;
  transform: translate(100%, 0);
}

.openMenu {
  background-color: rgb(126, 20, 20);
  width: 60px;
  height: 30px;
  border-radius: 12px;
  position: relative;
  left: -30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
  span {
    color: white;
  }
}
