.popular-articles {
  background-color: $black;
  color: white;
  margin: 0;
  padding: 1px;
  h3 {
    padding-left: 8px;
    border-left: 4px solid $rojo;
    line-height: 32px;
  }
  &__cards {
    display: flex;
    clip-path: inset(1px 1px -200px 1px);
    overflow-x: clip;
    gap: 22px;
  }
}
